#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="vk2matrix"
password="XXXXXX"
# matrix device id for client - set any string like 'k4nctrsE'
device_id = "XXXXXXX" 

data_file="data.json"

log_path="MatrixVkBot.log"

debug=True
