#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="vk2matrix"
password="XXXXXX"
# matrix device id for client - set any string like 'k4nctrsE'
device_id = "XXXXXXX" 

data_file="data.json"

log_path="MatrixVkBot.log"

# vk_app_id - идентификатор APP ID (числовое значение - см. документацию) - оставьте в None, если вы хотете, чтобы пользователи использовали свои vk_app_id:
vk_app_id=None

debug=True
